{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Feedback
{% endblock %}

{% block content %}

{% if is_individual_condition %}

	<p>
		The correct match to {{player.presented_word}} 
		was {{player.correct_match}}.  
		
		You chose {{player.player_choice_final}}, 
		{% if guess1_notblank %}
		you guessed {{player.guess1}}
		{% endif %}
		
		You have earned {{points_cum}} points so far.  
	</p>

	{% if player.player_choice_final == player.correct_match %}

	Good job!  You got it correct and scored {{accuracy_pt}} points.  

	{% else %}

	Sorry!  You were not correct, so you didn't score any points for your answer.  

	{% endif %}

{% else %}

	<p>
		The correct match to {{player.presented_word}} 
		was {{player.correct_match}}.  
		
		You chose {{player.player_choice_final}}, 
		{% if guess1_notblank %}
		you guessed {{player.guess1}},
		{% endif %}
		and the group chose {{group.group_answer}}.  
		
		You have earned {{points_cum}} points so far.  
	</p>

	{% if player.player_choice_final == player.correct_match %}

	Good job!  You got it correct and scored {{accuracy_pt}} points.  

	{% else %}

	Sorry!  You were not correct, so you didn't score any points for your answer.  

	{% endif %}

	{% if group.group_answer == player.correct_match %}

	The group got it correct, scoring you {{Constants.group_accuracy_points}} points.  

	{% else %}

	The group answer was not correct, so you did not get any points for it.  

	{% endif %}

{% endif %}

 {{ form.errors }}

    {% next_button %}
{% endblock %}


