{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

<p><b>Purpose:</b>  The purpose of this study is to look at some factors that affect learning in different conditions.
	Some factors are interacting with content, interacting with other learners, and choosing extracurricular activities.
	This study is designed to simulate the daily life of a student with a combination of home time and school time.</p>

<p>You will have 6 sessions, each with simulated home time followed by simulated school time.  
Each session will have 4 minutes of home time, followed by class time working on your task.</p>

<p>For <b>home time,</b> you may choose to study, or to play a game, or to do nothing.
You will get points for playing a game or doing nothing; 
these points are because playing a game or doing nothing is something people like to do.
You won't see these points, but they will be added.
 <b>However, studying will help you do better in school time, and you will get points for doing better in school time.</b></p>

<p>For <b>school time,</b> your task is to solve word puzzles. You must find the right word for each set of words, and type it in the blank.</p>
<ul>
	<li>You will be given three words; the answer will be a fourth word that goes with all three of them.</li>
	<li>Here's an example:  <b>seltzer  /  ice  /  shed</b>
	<li>The answer is <b>water</b> because it makes a compound word with each of the first three words:</li>
	<ul>
		<li><b><i>seltzer</i>water</li>
		<li>ice<i>water</i></li>
		<li>water<i>shed</i></b></li>
	</ul>
	<li>You will have 30 seconds to give your first answer for each set of words. </li>
	<li>You will also need to rate how confident you are about your answer, using a slider bar that goes from 0% to 100%.</li>
	<li>You get to provide more guesses if you're not sure about your answer.</li>
	<li>Then you will have a chance to choose your final answer. <b>You will get points for correct answers.</b></li>
</ul>
<p>You might be on a team with three other players. 
When it's time to give your final answer, you can hover over other players' answers and choose one of those if you want.
 <b>You will get points for how accurate your team is.</b></p>
</ul>
<p>After the 6 sessions of home and school time, you will have a 7th session like a final exam.
The final exam is to see how many of the word puzzles you know how to solve and how quickly you can solve them.
<b>You will get points for correct answers.</b></p>

<p>After the final exam, you will receive a final score.  This score is made up of points you get over the whole study.</p>
<ul>
	<li>You can get up to 200 points over the whole time for playing games or doing nothing.  
	These points will be added automatically, even though you don't see a total after hometime.</li>
	<li>You can get up to 100 points over the whole time for getting the first answer correct in school time.</li>
	<li>You can get up to 400 points for the final exam.</li>
	<li>If you are on a team, you can get up to 300 points more depending on how accurate your team is.</li>
</ul>
<p>You will receive compensation for giving your time to help us. You can get bonus compensation depending on how many points you get.<p>
    {% next_button %}

{% endblock %}
